
<div class="text-center">
  
    <img src="./img/@(ViewBag.Image)" width="200" />
    <h2> @ViewBag.Title I am <span style="color: #DD9119"> @ViewBag.FredName</span>.</h2>

    <pre class="text-muted">
        @ViewBag.Platform
    </pre>
    
    
</div>
