
<div class="text-center">
  
    <img style="" src="./img/whiteduck_signet-ohne.png" width="200" />
    <h2> @ViewBag.Title I am <span style="color: #DD9119">Fred</span>.</h2>

    <pre class="text-muted">
        @ViewBag.Platform
    </pre>
    
    
</div>
